#ignored patterns

bin/i-pi-driver
doc/manual.pdf
doc/manual.xml
doc/latex/input_ref_idx.tex
*.pyc
*.pyo
*.x
*.mod
*.out
*.o
*~
\#*
*.orig
regtest-ref
/build
/dist
*.egg-info/
examples/features/particle_exchange/basic_periodic_bosons/periodic_bosons_3/run/
